<div class="parent">
    <div class="container">
        <div class="bg"></div>
        <form action="">
            <h2 class="heading">Login Here</h2>

            <label for="username">Username: </label>
            <input name="username" type="text" [(ngModel)]="username">

            <label for="password">Password: </label>
            <input name="password" type="password" [(ngModel)]="password">
            

            <button class="login-btn" type="button" (click)="onLogin()">Login</button>
            <button class="register-btn" (click)="onregbtn()">Don't have an account?</button>
        </form>
    </div>
</div>